.dos_column_left_small{
	
	width:30%;
	float:left;	
	padding:5% 0% 0% 5%;
	text-align:left;
}

.info_contacto{
	background-color:white;
	margin:5px 5px 0px 0px;
	font-size:14px;
	height:50px;
        text-align: center;
        border-radius: 5px;/*esta propiedad bordea la esquinas*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*sombra de la caja header*/
    box-shadow: 0px 3px 5px #000;/*hacia derecha*//*hacia abajo*//*tama침o*//*color*/
    -moz-box-shadow: 0px/*hacia derecha*/3px/*hacia abajo*/5px/*tama침o*/#000/*color*/;
    -webkit-box-shadow: 0px/*hacia derecha*/3px/*hacia abajo*/5px/*tama침o*/#000/*color*/; 

        
}
.info_contacto img{
	padding:10px;
	width:30px;
	height:30px;
	float:left;	
	
}

.info_contacto p{
	color:#000;	
	font-size:15px;
        text-align: center;
        padding: 5px;
	height:auto;             
}

.dos_column_right_big{	
	width:65%;
	float:left;
	text-align:left;
}

form#formulario_contacto{
	margin:40px 0px 40px 0px;
	width:70%;
	left:13%;
	position:relative;
	padding:10px;
	background-color:#21619D;
	box-shadow: 3px 3px 3px #92BCE1;
	border:3px solid white;
	border-radius: 10px;
}

form#formulario_contacto fieldset{
	border:3px solid #002C67;
	background-color:#92BCE1;
	border-radius: 20px;
	padding:0px 10px 10px 10px;
}

form#formulario_contacto legend{
	background-color:#92BCE1;
	border:3px solid #002C67;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	text-align:right;
	text-shadow: 1px 1px 1px #696969;
	font-weight:bold;
	
}

form#formulario_contacto .inputText {
	width:50%;
	height:24px;
	border:1px solid #cccccc;
	padding:7px;
	border:2px solid #002C67; 
}

form#formulario_contacto .inputText:focus:invalid, form#formulario_contacto .inputTextarea:focus:invalid{
	border:3px solid red; 
}

form#formulario_contacto .inputText:valid, form#formulario_contacto .inputTextarea:valid{
	border:3px solid green; 
}

form#formulario_contacto .inputTextarea {
	width:90%;
	height:250px;
	border:1px solid #cccccc;
	padding:7px;
	resize: none; 
	border:2px solid #002C67;
}

form#formulario_contacto label {
	margin: 5px 0px 0px 0px;
	font-size:14px;
	line-height:22px;
	font-weight:bold;
	color:#002C67;
	
}
form#formulario_contacto label span, .inf_requerida span{
	color:red;
}

form#formulario_contacto .boton{
	margin: 2px 20px 20px 2px;
	font-size:12px;
    font-weight:bold;
    color:white;
    background:#638cb5;
    width:80px;
    height:21px;
    border-radius: 5px;
	float:right;
}

form#formulario_contacto .inf_requerida {
	font-size:11px;
	margin:0 0 10px 0;
	color:#002C67;
	font-style:italic;
}

/*Validaci칩n formulario*/
input:required {
	border: 13px solid yellow;
}

img.img_correo{
	margin:2%; 
	width:96%;
    border-radius: 5px;/*esta propiedad bordea la esquinas*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

