/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-ene-2014, 15:30:27
    Author     : LuisC
*/
/*---------------ESTILOS GENERALES----------*/
body{
/*    background:aliceblue;*/
    font-family:Arial, Helvetica, Sans-serif;
    width:90%;
    margin:auto;
    clear:both;
    background:#92BCE1;

    
}
a{
    text-decoration: none;
    color:white;
}    
a:hover{text-decoration:underline;}
/*--Cabecera--*/
header{
    width: 100%;
    height: 175px;
    float:left;
    margin-top: 20px;
    background:#002C67;
    border-radius: 5px;/*esta propiedad bordea la esquinas*/
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
/*sombra de la caja header*/
box-shadow: 0px 3px 5px #000;/*hacia derecha*//*hacia abajo*//*tamaño*//*color*/
 -moz-box-shadow: 0px/*hacia derecha*/3px/*hacia abajo*/5px/*tamaño*/#000/*color*/;
 -webkit-box-shadow: 0px/*hacia derecha*/3px/*hacia abajo*/5px/*tamaño*/#000/*color*/; 
}

#logotipo{
    height:150px;
    float:left;    
    
    margin:12px;
     border-radius: 5px;/*esta propiedad bordea la esquinas*/
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}
#logotipo img{
     height: 150px;
    float:left;
    
     border-radius: 5px;/*esta propiedad bordea la esquinas*/
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    
}

/*--------- menu ----------*/
#menu{
   
    float:right;
    padding-top:50px; 
    
    height: 10%;
    width: 60%;
}

/*--------- menú desplegable------*/
nav li{
    display: inline;
    font-family: merienda;
    margin-left: 15px;
    position:relative;
}
nav li a{
    color:#92BCE1;
    font-size: 18px;
    padding: 10px;
        border-radius: 2px;
        -moz-border-radius: 2px; /*estas lineas son para que se vea en navegadores antiguos*/
        -webkit-border-radius: 2px;
}

nav li a:hover{/*estas lineas crean el efecto */
    color:#fff;
    background: #21619D;
    text-decoration: none;
}

nav li li a{
width:100px;/*el ancho de los links del submenu, debe ser fijo, esto servirá para crear la animación mas adelante */
display:block;
}

nav li:hover ul {
display: block;
}

nav li ul {
width: 0; /*Cambiamos la linea */
margin:0;
background:#002C67;
/*display:none; Lo Eliminamos */
position: absolute;
list-style-type: none; 
overflow:hidden; /* Para evitar Que se salgan los links */
z-index:100;/*El Submenu tiene que ir atras, para evitar problemas al :hover*/
opacity: 0;
filter: alpha(opacity=0); /* Internet Explorer*/
-webkit-transition: opacity 0.2s ease-in 0.3s, width 0.4s ease-in 0.3s;/* Chrome, Safari*/
transition: opacity 0.2s ease-in 0.3s, width 0.4s ease-in 0.3s;/* Navegadores CSS3 */
-moz-transition: opacity 0.2s ease-in 0.3s, width 0.4s ease-in 0.3s; /* Firefox 4 */
-o-transition: opacity 0.2s ease-in 0.3s, width 0.4s ease-in 0.3s; /*Opera */
}
nav li:hover ul {
width: 150px; /*cambiar */
opacity: 1;
filter: alpha(opacity=100);/* Internet Explorer*/
-webkit-transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s;/* Chrome, Safari*/
transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s;/* Navegadores CSS3 */
-moz-transition: opacity 0.1s linear 0s, width 0.3s ease-out 0s; /* Firefox 4 */
-o-transition: oopacity 0.1s linear 0s, width 0.3s ease-out 0s; /* Opera */
}

nav li ul li{
    float: none; 
    position: static; 
}
/*-----SLIDER------*/
#sliderContenedor{
  width: 100%;
    float:left;
    text-align: center;
    height: 60%;
    margin-top: 20px;
}
#slider{
	width:100%;
	height:84%;
}
/*-------Cuerpo------*/
#cuerpo{
      width: 100%;
      height: auto;
    float:left;
    text-align: center;
    
    margin-top: 20px;
    background:#002C67; 
    border-radius: 5px;/*esta propiedad bordea la esquinas*/
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
/*sombra de la caja header*/
box-shadow: 0px 3px 5px #000;/*hacia derecha*//*hacia abajo*//*tamaño*//*color*/
 -moz-box-shadow: 0px/*hacia derecha*/3px/*hacia abajo*/5px/*tamaño*/#000/*color*/;
 -webkit-box-shadow: 0px/*hacia derecha*/3px/*hacia abajo*/5px/*tamaño*/#000/*color*/; 
}
/*------Cntenido-----*/
#Contenido1{
    width: 25%;
    height: auto;
    float:left;
    background: #21619D;
    margin-top: 20px;
    margin-left: 6%;
    margin-bottom: 20px;
    border-radius: 5px;/*esta propiedad bordea la esquinas*/
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
}
#Contenido1 #titulo{
    color:white;
    font-size: 14px;
    font-style: initial;
}
#Contenido1 #foto img{
    width: 100%;
    height: 30%;
}
#Contenido1 #descripcion{
    color:#92BCE1;
    margin:2px;
    font-size: 12px;
}
#Contenido1 p{
    margin:2px;
    font-size: 17px;
    
}
/*------FOOTER-----*/
footer{
    width: 100%;
    float:left;
    text-align: center;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background:#002C67;
    border-radius: 5px;/*esta propiedad bordea la esquinas*/
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
/*sombra de la caja header*/
box-shadow: 0px 3px 5px #000;/*hacia derecha*//*hacia abajo*//*tamaño*//*color*/
 -moz-box-shadow: 0px/*hacia derecha*/3px/*hacia abajo*/5px/*tamaño*/#000/*color*/;
 -webkit-box-shadow: 0px/*hacia derecha*/3px/*hacia abajo*/5px/*tamaño*/#000/*color*/; 
    
}
footer p{
    color:#92BCE1;
    margin:10px;
}